.autocomplete-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  white-space: nowrap;
}

.autocomplete-item-row {
  display: flex;
  align-items: center
}